.container {
	background-color: white;

	padding: 20px;
	margin: 20px;

	position: absolute;
	top: 50%;
	transform: translateY(-60%);

	border-radius: 20px;
	.title {
	}
	.tags-container {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}
}
