.container {
	background-color: white;

	padding: 30px;
	margin: 20px;

	position: absolute;
	top: 20vh;
	border-radius: 20px;

	.title {
		margin-bottom: 15px;
	}

	.tags-container {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}
}
