@use "@styles/mixin" as mixins;

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 13px;
	.img {
		width: 80px;
		height: 80px;
		background-color: #d9d9d9;
		border-radius: 20%;
	}
	.content-container {
		display: flex;
		flex-direction: column;
		gap: 5px;
		align-items: center;
		.name {
			@include mixins.sb-small;
		}
	}
}
