@use "@styles/mixin" as mixins;
@import "@styles/variables.scss";

.container {
	width: 70px;
	height: 180px;
	position: relative;
	border-radius: 50%;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
	margin: auto;
	cursor: pointer;
	.top {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 50%;
		top: 0;
		right: 0;
		left: 0;
		background-color: $white;
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
	}
	.bottom {
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: $point-blue;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		color: $white;
		display: flex;
		flex-direction: column;
		gap: 7px;
		.name {
			display: flex;
			flex-direction: column;
			align-items: center;
			@include mixins.sb-small;
		}
		.feature {
			@include mixins.sb-small;
		}
	}
	.dday {
		visibility: hidden;
	}
}

.container {
	&.hover {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $point-blue;
		color: $white;
		@include mixins.b-small;
		border-radius: 50%;
		.top {
			background-color: $point-blue;
		}
		.dday {
			visibility: visible;
			position: absolute;
		}
	}
}
