@use "@styles/mixin" as mixins;
@import "@styles/variables.scss";

.wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	min-height: 230px;
	background-color: $main-lightgreen;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 10px 20px;
	cursor: pointer;
	.title-container {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.title {
		@include mixins.b-medium;
		color: $gray6;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
		span {
			color: $main-green;
		}
	}
}

.item-container {
	position: relative;
	display: flex;
	gap: 10px;
	img {
		border-radius: 15px;
	}
}

.content-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	.brand {
		@include mixins.b-small;
		color: $gray6;
	}
	.name {
		@include mixins.b-regular;
		color: $black;
	}
	.star {
		@include mixins.b-medium;
		color: $main-yellow;
		display: flex;
		align-items: center;
		gap: 5px;
		span {
			@include mixins.b-small;
			color: $gray6;
		}
	}
	.tags {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 5px;
	}
}

.handle {
	width: 200px;
	position: absolute;
	bottom: -20px;
	right: -20px;
}
