@import "@styles/mixin";
@import "@styles/variables";

.container {
	display: flex;
	gap: 10px;
	width: fit-content;

	img {
		background-color: $gray3;
		width: 80px;
		height: 80px;
		border-radius: 5px;
	}
}

.input-container {
	position: relative;
	display: inline-block;
	input[type="file"] {
		display: none;
		position: absolute;
		width: 80px;
		height: 80px;
		background-color: blue;
		// opacity: 50;
		cursor: pointer;
	}

	label {
		display: block;
		padding: 8px 12px;
		border: 2px solid $main-green;
		width: 80px;
		height: 80px;
		border-radius: 5px;
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;
		color: $main-green;
	}
}
