@import "@styles/mixin";
@import "@styles/variables";

.container {
	display: flex;
	gap: 10px;

	img {
		background-color: $gray3;
		width: 80px;
		height: 80px;
		border-radius: 5px;
	}
}

.input-container {
	position: relative;
	display: inline-block;
	input[type="file"] {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	label {
		padding: 8px 12px;
		border: 2px solid $main-green;
		width: 80px;
		height: 80px;
		border-radius: 5px;
		cursor: pointer;

		display: flex;
		justify-content: center;
		align-items: center;
		color: $main-green;
	}
}
