@use "@styles/mixin"as mixins;
@import "@/styles/variables.scss";
@import "@/styles/global.scss";

.checkWrap {
  position: relative;

  .checkFlex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    button {
      width: 30%;
      height: 40px;
    }

    label {
      width: 65%;
    }
  }


}

.error {
  border: 1px solid #23cc87;

}

p {
  margin-top: 10px;
  text-align: right;
  color: #23cc87;
}

.genderBox {
  display: flex;
  gap: 20px;

  & label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
  }


}

.buttonStyle {
  margin-top: 20px;
}

.count {
  position: absolute;
  right: 0;
  top: 10px
}