@use "@styles/mixin" as mixins;
@import "@/styles/variables.scss";
@import "@/styles/global.scss";

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.inputError {
		border: 1px solid $main-green;
	}

	& p {
		text-align: end;
		margin-top: 10px;
		color: $main-green;
		width: 100%;
	}

	.genderWrap {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.genderBox {
			display: flex;
			gap: 20px;

			& label {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				margin-left: 10px;
			}
		}
	}

	.tagWrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;

		& > span {
			width: 20%;
		}
	}
}
