{
	"singleQuote": false,
	"semi": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"printWidth": 80,
	"overrides": [
		{
			"files": "*.cjs",
			"options": {
				"parser": "babel"
			}
		},
		{
			"files": "*.json",
			"options": {
				"parser": "json"
			}
		}
	]
}
