@import "@/styles/variables.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 50px;

}


.light {
  background-color: $main-lightgreen;
  color: $main-green;
}

.dark {
  background-color: $main-green;
  color: #ffffff;
}

.icon {
  background-color: transparent;

}