@import "@/styles/variables.scss";

@mixin tag-base {
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	padding: 4px 4px;
	border: 1px solid $gray3;
}

@mixin tag-size($width, $height) {
	width: $width;
	height: $height;

	@media (max-width: 600px) {
		width: $width * 0.8;
		height: $height * 0.8;
	}
}

.tag {
	&-medium {
		@include tag-base;
		@include tag-size(65px, 25px);
		font-size: 0.75rem;
		background-color: $white;
		color: $gray5;

		&:hover {
			color: $point-blue;
		}
	}

	&-small {
		@include tag-base;
		@include tag-size(45px, 16px);
		font-size: 0.5rem;
		background-color: $main-green;
		color: $white;
	}
}

.background {
	&-green {
		background-color: #23cc87;
		color: $white;
	}

	&-white {
		background-color: $white;
		color: $gray3;
		border: 1px solid $gray3;
	}
}
