@import "@styles/variables.scss";

.container {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.item {
		text-align: center;
		width: 100%;
		padding: 5px;
		border-bottom: 1px solid $gray3;
		&.active {
			background-color: $white;
			color: $main-green;
			border-bottom: 2px solid $main-green;
		}
	}
}
