@use "variables" as vars;
@use "mixin" as mixins;

@font-face {
	font-family: "Pretendard";
	src:
		url("/fonts/Pretendard-Bold.woff2") format("woff2"),
		url("/fonts/Pretendard-Bold.woff") format("woff"),
		url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
			format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pretendard";
	src:
		url("/fonts/Pretendard-SemiBold.woff2") format("woff2"),
		url("/fonts/Pretendard-SemiBold.woff") format("woff"),
		url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
			format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pretendard";
	src:
		url("/fonts/Pretendard-Medium.woff2") format("woff2"),
		url("/fonts/Pretendard-Medium.woff") format("woff"),
		url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
			format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	font-family: "Pretendard", sans-serif;
}

html {
	font-size: 0.2667vw;
}

body {
	background-color: rgb(227, 227, 227);
	@include mixins.responsive-font-size(14);
}

main {
	margin: 0 auto;
	height: auto;
	max-width: 100%;
	height: auto;
	min-height: 100vh;
	padding: 20px;
	background-color: #ffffff;
	position: relative;
	padding-top: 90px;
	scrollbar-width: none;
	-ms-overflow-style: none;

	@include mixins.responsive("tablet") {
		padding-top: 100px;
	}

	@include mixins.responsive("desktop") {
		max-width: 480px;
		padding: 40px;
		padding-top: 110px;
	}
}

.background {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 998;
}

/* Font Classes */
/* Common font style */

/* Bold Class */
.b-super {
	@include mixins.responsive-font-size(40);
	font-weight: 700;
}

.b-large {
	@include mixins.responsive-font-size(27);
	font-weight: 700;
}

.b-big {
	@include mixins.responsive-font-size(24);
	font-weight: 700;
}

.b-medium {
	@include mixins.responsive-font-size(18);
	font-weight: 700;
}

.b-regular {
	@include mixins.responsive-font-size(vars.$large-font-size);
	font-weight: 700;
}

.b-small {
	@include mixins.responsive-font-size(vars.$medium-font-size);
	font-weight: 700;
}

.b-tiny {
	@include mixins.responsive-font-size(vars.$small-font-size);
	font-weight: 700;
}

/* Semi-Bold Class */
.sb-large {
	@include mixins.responsive-font-size(vars.$large-font-size);
	font-weight: 600;
}

.sb-big {
	@include mixins.responsive-font-size(vars.$big-font-size);
	font-weight: 600;
}

.sb-medium {
	@include mixins.responsive-font-size(vars.$medium-font-size);
	font-weight: 600;
}

.sb-regular {
	@include mixins.responsive-font-size(11);
	font-weight: 600;
}

.sb-small {
	@include mixins.responsive-font-size(vars.$small-font-size);
	font-weight: 600;
}

/* Medium Class */
.m-large {
	@include mixins.responsive-font-size(vars.$large-font-size);
	font-weight: 500;
}

.m-big {
	@include mixins.responsive-font-size(vars.$big-font-size);
	font-weight: 500;
}

.m-medium {
	@include mixins.responsive-font-size(vars.$medium-font-size);
	font-weight: 500;
}

.m-regular {
	@include mixins.responsive-font-size(11);
	font-weight: 500;
}

.m-small {
	@include mixins.responsive-font-size(vars.$small-font-size);
	font-weight: 500;
}

/* 스크롤 스타일 */
.scroll_container {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.main::-webkit-scrollbar {
	display: none;
}
