@use "variables" as vars;

@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
}

* {
	box-sizing: border-box;
	font-family: Pretendard-Regular;
}

body {
	background-color: rgb(227, 227, 227);
}

@mixin responsive($size) {
	@if $size == "phone" {
		@media (max-width: #{vars.$mobile-width}) {
			@content;
		}
	} @else if $size == "tablet" {
		@media (min-width: #{vars.$mobile-width+1}) and (max-width: #{vars.$tablet-width}) {
			@content;
		}
	} @else if $size == "desktop" {
		@media (min-width: #{vars.$desktop-width}) {
			@content;
		}
	}
}

main {
	margin: 0 auto;
	height: auto;
	max-width: 100%;
	height: auto;
	min-height: 100vh;
	padding: 20px;
	background-color: #ffffff;
	position: relative;
	padding-top: 90px;
	scrollbar-width: none;
	-ms-overflow-style: none;

	@include responsive("tablet") {
		padding-top: 100px;
	}

	@include responsive("desktop") {
		max-width: 480px;
		padding: 40px;
		padding-top: 110px;
	}
}

.background {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 998;
}

.scroll_container {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.main::-webkit-scrollbar {
	display: none;
}
