@use "variables" as vars;

@mixin responsive-font-size($size) {
	// 모바일, 태블릿 사이즈 계산
	font-size: calc(#{$size} * 0.2667vw);

	// 데스크톱은 폰트 픽스되게
	@include responsive("desktop") {
		font-size: #{$size}px;
	}
}

@mixin responsive($size) {
	@if $size == "phone" {
		@media (min-width: #{vars.$mobile-width}) and (max-width: #{vars.$tablet-width - 1}px) {
			@content;
		}
	} @else if $size == "tablet" {
		@media (min-width: #{vars.$tablet-width}) and (max-width: #{vars.$desktop-width - 1}px) {
			@content;
		}
	} @else if $size == "desktop" {
		@media (min-width: #{vars.$desktop-width}) {
			@content;
		}
	}
}

/* Font Classes */
/* Common font style */

/* Bold Class */

@mixin b-super {
	@include responsive-font-size(40);
	font-weight: 700;
}

@mixin b-large {
	@include responsive-font-size(27);
	font-weight: 700;
}

@mixin b-big {
	@include responsive-font-size(24);
	font-weight: 700;
}

@mixin b-medium {
	@include responsive-font-size(18);
	font-weight: 700;
}

@mixin b-regular {
	@include responsive-font-size(vars.$large-font-size);
	font-weight: 700;
}

@mixin b-small {
	@include responsive-font-size(vars.$medium-font-size);
	font-weight: 700;
}

@mixin b-tiny {
	@include responsive-font-size(vars.$small-font-size);
	font-weight: 700;
}

/* Semi-Bold Class */
@mixin sb-large {
	@include responsive-font-size(vars.$large-font-size);
	font-weight: 600;
}

@mixin sb-big {
	@include responsive-font-size(vars.$big-font-size);
	font-weight: 600;
}

@mixin sb-medium {
	@include responsive-font-size(vars.$medium-font-size);
	font-weight: 600;
}

@mixin sb-regular {
	@include responsive-font-size(11);
	font-weight: 600;
}

@mixin sb-small {
	@include responsive-font-size(vars.$small-font-size);
	font-weight: 600;
}

/* Medium Class */
@mixin m-large {
	@include responsive-font-size(vars.$large-font-size);
	font-weight: 500;
}

@mixin m-big {
	@include responsive-font-size(vars.$big-font-size);
	font-weight: 500;
}

@mixin m-medium {
	@include responsive-font-size(vars.$medium-font-size);
	font-weight: 500;
}

@mixin m-regular {
	@include responsive-font-size(11);
	font-weight: 500;
}

@mixin m-small {
	@include responsive-font-size(vars.$small-font-size);
	font-weight: 500;
}

/* flex */

$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center,
);

@function _get-flex-value($key) {
  @return map-get($flex-map, $key);
}

@mixin flexbox($js: center, $ai: center) {
  display: flex;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($js);
}

@mixin inline-flexbox($js: center, $ai: center) {
  display: inline-flex;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($js);
}

@mixin column-flexbox($js: center, $ai: center) {
  display: flex;
  flex-direction: column;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($js);
}