/** Color */
$white: #ffffff;
$black: #000000;

$main-green: #23cc87;
$main-midgreen: #7ddfb8;
$main-lightgreen: #d3f5e7;

$point-blue: #22b0be;

$main-gray: #d9d9d9;
$main-lightgray: #f6f6f6;

$gray3: #cccfd7;
$gray5: #9299aa;
$gray6: #6e768c;
$gray8: #363a45;
/** Font */
