@import "@/styles/variables.scss";

.container {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
	img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $gray3;
	}
	.content-container {
		.star {
			color: $main-yellow;
			span {
				margin-left: 5px;
				color: black;
			}
		}
		.writer {
			span {
				margin-left: 5px;
				color: $gray5;
			}
		}
	}
}
