@use "@styles/mixin.scss" as mixins;
@use "@styles/variables.scss" as *;
.starRatingContainer {
	display: flex;
	width: 70rem;
	max-width: 105px;
	align-items: center;
	.stars {
		display: flex;
		color: #ffc700;
		width: 60rem;
	}
	.ratingNumber {
		color: $black;
		@include mixins.sb-regular;
	}
}
