@use "@styles/variables.scss" as *;
@use "@styles/mixin.scss" as mixins;
.container {
	display: flex;
	align-items: center;
	border: 1px solid $main-gray;
	padding: 10rem;
	border-radius: 10px;
	width: 90%;
}

.icon {
	margin-right: 10rem;
	width: 30rem;
	height: 30rem;
	color: $main-green;
}

.title {
}
