@use "@styles/variables.scss" as *;
@use "@styles/mixin.scss" as mixins;
.container {
	display: flex;
	flex-direction: row;
	border: 1px solid $main-gray;
	padding: 10rem 10rem;
	border-radius: 10px;
	width: 90%;
}

.icon {
	margin-right: 10rem;
}

.title {
}
