@use "@styles/mixin" as mixins;
@import "@styles/global.scss";
@import "@styles/variables.scss";

.pointContainer {
	width: 100%;
	padding: 10rem;
	.pointTitleBox {
		display: flex;
		justify-content: space-between;
		width: 97%;
		@include mixins.b-medium;
		padding-top: 15rem;
		padding-bottom: 20rem;
	}
	.pointHistoryList {
		min-width: 46px;
		.pointItem {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10rem 15rem;
			font-size: 15rem;
			border: 1px solid $main-gray;
			border-radius: 10px;
			@include mixins.m-medium;

			.description {
				color: $black;
				padding-left: 10rem;
			}

			.pointBox {
				display: flex;
			}
		}
	}
}
