@use "@styles/mixin" as mixins;
@import "@styles/global.scss";
@import "@styles/variables.scss";

.reviewWrapper {
	display: flex;
	flex-direction: column;
	padding-top: 10rem;
}

.reviewHeader {
	width: 100%;
	margin-bottom: 10rem;
	padding-left: 15rem;
}
.reviewContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10rem;
}
