@use "@styles/mixin" as mixins;
@import "@/styles/variables.scss";

.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
	font-weight: 500;
	font-size: var(--big-font-size);
	.title {
		@include mixins.b-small;
	}
}
