@use "@styles/mixin" as mixins;
@import "@/styles/variables.scss";

.container {
	display: flex;
	gap: 10px;
	align-items: center;
	button {
		background-color: $main-lightgreen;
		color: $main-green;
		@include mixins.b-tiny;
	}
}
