@import "@/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  font-weight: 500;
  font-size: var(--big-font-size);

  // 숫자 인풋 방향키 제거
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .element {
    border-radius: 20px;
    height: 40px;
    box-shadow: 1px 1px 10px rgba(188, 188, 188, 0.25);
    padding: 20px;
  }
}