@import "@/styles/variables.scss";

.container {
	background-color: $white;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 20px;
	padding-top: 40px;
	min-height: 200px;
	.element {
		height: 7px;
		width: 80px;
		border-radius: 30px;
		background-color: $main-gray;
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
	}
}
