@import "@styles/mixin";
@import "@styles/variables";
@import "@/components/ModalContainer/index.module.scss";

.profilePicEdit {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;

	.ImgTitle {
		align-self: flex-start;
		font-size: $large-font-size;
	}

	& img {
		width: 100%;
		height: 100%;
	}

	.imgWrap {
		display: flex;
		justify-items: center;
		text-align: center;

		.imgBox {
			position: relative;

			.imgLabel {
				cursor: pointer;
				width: 100%;
				height: 100%;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $main-green;
				font-size: 7rem;
			}

			.imgCon {
				width: 40rem;
				height: 40rem;
				border-radius: 100%;
				overflow: hidden;
				background-color: $gray3;
			}
		}
	}
}
