@use "@styles/global"as *;
@import "@styles/variables";

.contaier {
  .wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }

  .gold {
    background-color: #ffd700;
  }

  .silver {
    background-color: #c0c0c0;
  }

  .bronze {
    background-color: #cd7f32;
  }
}