@import "@/styles/variables.scss";

.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .wrap {
    background-color: #f6f6f6;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    padding: 20px;

    .profileImage {
      width: 40px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &>img {
      width: 40px;
      height: 40px;
      border-radius: 50px;
    }
  }
}