@use "@styles/mixin" as mixins;
@import "@/styles/variables.scss";

.background {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: flex-end; /* 아래쪽에 모달 배치 */
	justify-content: center;
	pointer-events: none;
}

.modal {
	width: 90%;
	min-height: 10vh;
	background: white;
	color: $gray5;
	box-shadow: 0px 0px 10px;
	border-radius: 18px 18px 0 0;
	padding: 20px;
	pointer-events: auto;
}

.headerBox {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
	width: 50rem;
	height: 5rem;
	margin-bottom: 15rem;
	background-color: $main-gray;
	border-radius: 15px 15px;
	color: $black;
}

.headerTitle {
	@include mixins.b-medium;
	margin-bottom: 10rem;
}

.content {
	overflow: auto;
	height: 100%;
}
