@use "@styles/mixin" as mixins;
@import "@/styles/variables.scss";

.container {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	min-height: 100%;
	width: 100%;
	z-index: 10000;

	@include mixins.responsive("desktop") {
		max-width: 480px;
		position: absolute;
		bottom: 0;
	}
}
.element {
	height: 50%;
	width: 100%;
	border-radius: 10px;
	background-color: $white;
	position: absolute;
	top: 25%;
	z-index: 3000000000000;
	.text {
		box-shadow: 20%;
		overflow: hidden;
	}
	.timeBox {
		display: flex;
	}
}
