@use "@styles/mixin" as mixins;
@import "@/styles/variables.scss";

.container {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	min-height: 100%;
	width: 100%;
	z-index: 1000000;

	@include mixins.responsive("desktop") {
		max-width: 480px;
		position: absolute;
		bottom: 0;
	}
}

.header {
	display: flex;
	align-items: center;
	height: 30rem;
	@include mixins.b-medium;
}

.element {
	height: 50%;
	width: 90%;
	border-radius: 10px;
	background-color: $white;
	position: absolute;
	top: 25%;
	left: 5%;
	transform: translateX(-100%);

	z-index: 10000000;

	padding: 15rem 15rem;
	overflow: auto;
}

.detailBox {
	display: flex;
	align-items: center;
	padding-bottom: 5rem;
	flex-wrap: wrap;
}

.boxHead {
	padding-right: 10rem;
	@include mixins.sb-medium;
}
.boxText {
	overflow-wrap: break-word;
}

.timeBox {
	display: flex;
	flex-direction: column;

	.timeHeader {
		@include mixins.sb-medium;
	}

	.timeCotainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 5rem;
	}
	.timeElement {
		@include mixins.m-regular;
	}
}
